# Generado a mano, sin roxygen.
export(alerta)
export(alertas_pendientes)
export(catalogo_alertas)
export(cerrar_alerta)
export(nueva_bitacora)
export(puede_avanzar)
export(registrar_alertas)
export(definir_mapeo)
export(diagnosticar_ingesta)
export(items_mapeados)
export(leer_datos)
export(cfa_viable)
export(clasificar_alfa)
export(diagnosticar_validacion)
export(parametros_cfa)
export(validar_constructo)
export(alfa_inflado)
export(agregar_a_caso)
export(alertas_agregacion)
export(diagnosticar_agregacion)
export(icc_agregacion)
export(promediar_constructos)
export(icc_respalda)
export(cargar_proyecto)
export(comparar_huella)
export(guardar_proyecto)
export(nuevo_proyecto)
export(FUENTES_ANCLA)
export(calibrar)
export(corregir_050)
export(definir_anclas)
export(orden_conservado)
export(diagnosticar_calibracion)
export(diagnosticar_semaforo)
export(discrimina)
export(diversidad_limitada)
export(hay_piso)
export(hay_techo)
export(muy_asimetrica)
export(muy_correlacionadas)
export(alertas_tabla_verdad)
export(analizar_necesidad)
export(construir_tabla_verdad)
export(diagnosticar_necesidad)
export(leer_tabla_verdad)
export(necesidad_trivial)
export(pri_insuficiente)
export(umbral_frecuencia)
export(PRI_MINIMO)
export(CONSISTENCIA_MINIMA)
export(cobertura_baja)
export(diagnosticar_suficiencia)
export(minimizar)
export(analizar_nca)
export(diagnosticar_robustez)
export(escenarios_anclas)
export(robustez_obligatoria_omitida)
export(solucion_robusta)
export(exportar_base_calibrada)
export(guion_reproducible)
export(tabla_calibracion)
export(reunir_informe)
export(sugerir_columna_id)
export(sugerir_mapeo)
export(construir_proyecto)
export(rango_anclas)
export(ejecutar_escenario)
export(barrido_robustez)
export(modelo_cfa)
export(ajustar_cfa)
export(rango_consistencia)
export(rango_frecuencia)
export(clasificar_casos)
export(estatus_de_casos)
export(cambios_de_estatus)
